{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>TaskHub</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- site icon -->
   <link rel="icon" href="images/fevicon.png" type="image/png" />
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
   <!-- site css -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}" />
   <!-- responsive css -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
   <!-- color css -->
   <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
   <!-- select bootstrap -->
   <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
   <!-- scrollbar css -->
   <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css' %}" />
   <!-- custom css -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
   <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">

   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="inner_page login">
   <div class="full_container">
      <div class="container">
         <div class="center verticle_center full_height">
            <div class="login_section">
               <div class="logo_login">
                  <div class="center">
                     <img width="210" src="{% static 'images/logo.png' %}" alt="#" />
                  </div>
               </div>
               <div class="login_form">
                  <script>
                     // Check if msg is not empty and display it in an alert box
                     {% if msg %}
                     alert("{{ msg }}");
                     {% endif %}
                  </script>
                  <form action="{% url 'registeruser' %}" method="post">
                     {% csrf_token %}
                     <fieldset>
                        <div class="field">
                           <label class="label_field">Firstname</label>
                           <input type="text" name="fname" placeholder="Firstname" />
                        </div>
                        <div class="field">
                           <label class="label_field">Lastname</label>
                           <input type="text" name="lname" placeholder="Lastname" />
                        </div>
                        <div class="field">
                           <label class="label_field">Email Address</label>
                           <input type="email" name="email" placeholder="E-mail" />
                        </div>
                        <div class="field">
                           <label class="label_field">Password</label>
                           <input type="password" name="password" placeholder="Password" />
                        </div>
                        <div class="field">
                           <label class="label_field">Confirm&nbsp;Password</label>
                           <input type="password" name="cpassword" placeholder="Confirm Password" />
                        </div>
                        <div class="field">
                           <label class="label_field hidden">hidden label</label>
                           <center>
                              <p>Already have an Account? &nbsp;&nbsp; <a class="forgot"
                                    href="{% url 'indexpage' %}">Login Now!</a></p>
                           </center>
                        </div>
                        <div class="field margin_0">
                           <label class="label_field hidden">hidden label</label>
                           <button class="main_bt">Submit</button>
                        </div>
                     </fieldset>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- jQuery -->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <!-- wow animation -->
   <script src="{% static 'js/animate.js' %}"></script>
   <!-- select country -->
   <script src="{% static 'js/bootstrap-select.js' %}"></script>
   <!-- nice scrollbar -->
   <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
   <script>
      var ps = new PerfectScrollbar('#sidebar');
   </script>
   <!-- custom js -->
   <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>